{% extends "main.html" %}

{% block content %}

<h1>{{ campaign.name }}</h1>
<p>
    Link to enter the campaign:
</p>
<a id="campaign-link" href="{% url 'enter-campaign' campaign.id %}">
</a>

<br>

<button onclick="copyLink()">
    Copy
</button>

<script>

var shareLink = "http://" + window.location.host + "{% url 'enter-campaign' campaign.id %}";

$(document).ready(function() 
{
    document.getElementById("campaign-link").innerHTML = shareLink;
});

function copyLink() 
{
    navigator.clipboard.writeText(shareLink);
}

</script>

{% endblock content %}