{% extends "main.html" %}

{% block content %}

<!-- Probably temporary styling -->
<style>
    .campaign-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
</style>

<h1>{{ campaign.name }}</h1>

<div class="campaign-container">

    <div>

        {% if request.user == campaign.owner %}

        <a href="{% url 'delete-campaign' campaign.id %}">Delete</a> /
        
        <a href="{% url 'update-campaign' campaign.id %}">Edit</a> /
        
        {% else %}

        <a href="#" onclick="RemovePlayer(null, {{ user.id }})"> Leave</a> /

        {% endif %}
     
        <a href="{% url 'share-campaign' campaign.id %}">Share</a> / 
     
        <a href="{% url 'add-character-campaign' campaign.id %}">Add character</a>

        <p> {{ campaign.description }} </p>

        <p>
            @{{campaign.owner}}
        </p>
        <br>


        <b>Players</b>

        {% if participants.count > 1 %}

        {% for participant in participants %}
        
        {% if participant != campaign.owner %}
        
        <div>
            @{{participant}}

            {% if request.user == campaign.owner %}

            <button onclick="RemovePlayer(this, {{ participant.id }})"><small>Remove</small></button>

            {% endif %}
        </div>

        {% endif %}

        {% endfor %}

        {% else %}

        <div>
            No players in campaign
        </div>
        
        {% endif %}
        <br>

        
        <b>Characters</b>

        {% if characters.count > 0 %}

        {% for character in characters %}
        
        <div>
            <a href="{% url 'character' character.id %}">{{character}}</a>

            {% if request.user == campaign.owner or request.user == character.player %}

            <button onclick="RemoveCharacter(this, {{ character.id }})"><small>Remove</small></button>

            {% endif %}
        </div>

        {% endfor %}

        {% else %}

        <div>
            No characters in campaign
        </div>
        
        {% endif %}

        <br>
    </div>
    <div>
        {% include "base/chat.html" %}
    </div>
</div>

<script type="text/javascript">


// Function for removing a player from the campaign
function RemovePlayer(buttonCntrl, deletedPlayer)
{
    if (buttonCntrl != null)
        buttonCntrl.parentElement.remove();

    $.ajax({
        type:'POST',
        url:'{% url 'remove-player-campaign' %}',
        data:
        {
            campaign:{{ campaign.id }},
            player:deletedPlayer,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(data) 
        {
            //console.log(data)
            if (buttonCntrl == null)
                window.location.href = "{% url 'campaigns' %}";
        }
    });
}


// Function for removing a player from the campaign
function RemoveCharacter(buttonCntrl, deletedCharacter)
{
    if (buttonCntrl != null)
        buttonCntrl.parentElement.remove();

    $.ajax({
        type:'POST',
        url:'{% url 'remove-character-campaign' %}',
        data:
        {
            campaign:{{ campaign.id }},
            character:deletedCharacter,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(data) 
        {
            //console.log(data)
            if (buttonCntrl == null)
                window.location.href = "{% url 'campaigns' %}";
        }
    });
}


</script>

{% endblock content %}