{% extends "main.html" %}

{% block content %}

<h1>CAMPAIGNS</h1>
<a href="{% url 'create-campaign' %}">New Campaign</a>
<br>

<hr>

{% for campaign in campaigns %}

    <div>
        <a href="{% url 'campaign' campaign.id %}"> {{ campaign.name }} </a> 

        <br>

        <small>@{{ campaign.owner }}</small> 
        
        <br>

        <small>Registered in {{campaign.created.month}}/{{campaign.created.day}}/{{campaign.created.year}} </small>

        <hr>
    </div>

{% endfor %}

{% endblock content %}