{% extends "main.html" %}

{% block content %}

<!-- Probably temporary styling -->
<style>
    .campaign-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
</style>

<h1>{{ campaign.name }}</h1>

<div class="campaign-container">

    <div>

        {% if request.user == campaign.owner %}

        <a href="{% url 'delete-campaign' campaign.id %}">Delete</a>
        
        <a href="{% url 'update-campaign' campaign.id %}">Edit</a>
        
        {% endif %}

        <p> {{ campaign.description }} </p>

        <p>
            @{{campaign.owner}}
        </p>

        {% for participant in participants %}
        
        <p>
            @{{participant}}
        </p>

        {% endfor %}
    </div>

    <div>
        <h2> CHAT </h2>
        <hr>

        <div id="display">
        </div>

        <div>
            <form id="comment-form" method="POST" action="">
                {% csrf_token %}
                
                <input type="text" name="body" id="body"/>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">


// Function for receiving the messages
$(document).ready(function() 
{
    getMessages();

    setInterval(function()
    {
        getMessages();
    }, 1000);    
});

function getMessages() 
{
    $.ajax({
        type: 'GET',
        url: "/get-message/{{campaign}}/",
        success: function(response)
        {
            $("#display").empty();
            for (var key in response.messages)
            {
                var message = response.messages[key];

                var temp="<small>@" + message.username + " | " + message.created + "</small><p>" + message.body + "</p>";
                    
                $("#display").append(temp);
            }
        },
        error: function(response) 
        {
            alert('An error occurred')
        }
    })
}

// Function for sending the message
$(document).on('submit', '#comment-form', function(e)
{
    e.preventDefault();

    $.ajax({
        type:'POST',
        url:'/send-message/',
        data:{
            campaign:14,
            body:$('#body').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(data) {
            //alert(data)
        }
    });
    
    document.getElementById('body').value = ''
});


</script>

{% endblock content %}