<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ODP Outer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="">-->

    <style>
        .navbar-element 
        {
            display: inline-block
        }
    </style>
</head>

<body>
    {% include "navbar.html" %}
    
    {% if messages %}

        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    
    {% endif %}

    {% block content %}

    {% endblock %}

</body>

</html>