<div>
    <a href="/" class="navbar-element">
        <h1>LOGO</h1>
    </a>

    |

    <a href="{% url 'characters' %}" class="navbar-element">
        Characters
    </a>

    |

    <a href="{% url 'campaigns' %}" class="navbar-element">
        Campaigns
    </a>

    | L / R |

    {% if request.user.is_authenticated %}

        <a href="{% url 'profile' %}">
            {{ request.user }}
        </a>

    {% else %}

        <a href="{% url 'login' %}" class="navbar-element">
            Login
        </a>

    {% endif %}

</div>

<hr>