{% extends "main.html" %}

{% load index %}

{% block content %}

{% if request.user == character.player or request.user.name == campaign.owner %}

<!-- Probably temporary styling -->
<style>
    .character-container 
    {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }

    .big-stats-field 
    {
        width: 10%;
    }

    .stats-field 
    {
        width: 5%;
    }

    .skill-field 
    {
        width: 15%;
    }

    .attribute-box
    {
        width: 225px;
    }
</style>

<div class="character-container">
    {%csrf_token%}
    <!-- Base Information -->
    <div>
        <h1>{{ character.name }}</h1>
        <div>
            <label>Class </label>
            <input onkeyup="updateCharacter()" id="classe" type="text" value="{{character.classe}}"/>
        </div>
        <div>
            <label>Origin </label>
            <input onkeyup="updateCharacter()" id="origin" type="text" value="{{character.origin}}"/>
        </div>
        <br>


        <b>Attributes</b> <!--<small> <a href="#">Edit</a></small>-->
        <div class="attribute-box"> 
            <button onclick="rollAttribute('attribute_agility')">O</button>
            <input class="stats-field" onkeyup="updateCharacter()" id="attribute_agility" type="number" value="{{character.attribute_agility}}"/> 
            Agility
        </div>
        <br>
        <div class="attribute-box">
            <button onclick="rollAttribute('attribute_strength')">O</button>
            <input class="stats-field" onkeyup="updateCharacter()" id="attribute_strength" type="number" value="{{character.attribute_strength}}"/> 
            Strength
        </div>
        <br>
        <div class="attribute-box"> 
            <button onclick="rollAttribute('attribute_intellect')">O</button>
            <input class="stats-field" onkeyup="updateCharacter()" id="attribute_intellect" type="number" value="{{character.attribute_intellect}}"/> 
            Intellect
        </div>
        <br>
        <div class="attribute-box"> 
            <button onclick="rollAttribute('attribute_vigor')">O</button>
            <input class="stats-field" onkeyup="updateCharacter()" id="attribute_vigor" type="number" value="{{character.attribute_vigor}}"/> 
            Vigor
        </div>
        <br>
        <div class="attribute-box">
            <button onclick="rollAttribute('attribute_presence')">O</button>
            <input class="stats-field" onkeyup="updateCharacter()" id="attribute_presence" type="number" value="{{character.attribute_presence}}"/> 
            Presence
        </div>
        <br>


        <div>
            <label>EXP</label>
            <select onchange="updateCharacter()" id="paranormal_exposition">
                <option value="5" {% call_method character 'get_selected_exposition' 5 %}>5%</option>
                <option value="10" {% call_method character 'get_selected_exposition' 10 %}>10%</option>
                <option value="15" {% call_method character 'get_selected_exposition' 15 %}>15%</option>
                <option value="20" {% call_method character 'get_selected_exposition' 20 %}>20%</option>
                <option value="25" {% call_method character 'get_selected_exposition' 25 %}>25%</option>
                <option value="30" {% call_method character 'get_selected_exposition' 30 %}>30%</option>
                <option value="35" {% call_method character 'get_selected_exposition' 35 %}>35%</option>
                <option value="40" {% call_method character 'get_selected_exposition' 40 %}>40%</option>
                <option value="45" {% call_method character 'get_selected_exposition' 45 %}>45%</option>
                <option value="50" {% call_method character 'get_selected_exposition' 50 %}>50%</option>
                <option value="55" {% call_method character 'get_selected_exposition' 55 %}>55%</option>
                <option value="60" {% call_method character 'get_selected_exposition' 60 %}>60%</option>
                <option value="65" {% call_method character 'get_selected_exposition' 65 %}>65%</option>
                <option value="70" {% call_method character 'get_selected_exposition' 70 %}>70%</option>
                <option value="75" {% call_method character 'get_selected_exposition' 75 %}>75%</option>
                <option value="80" {% call_method character 'get_selected_exposition' 80 %}>80%</option>
                <option value="85" {% call_method character 'get_selected_exposition' 85 %}>85%</option>
                <option value="90" {% call_method character 'get_selected_exposition' 90 %}>90%</option>
                <option value="95" {% call_method character 'get_selected_exposition' 95 %}>95%</option>
                <option value="99" {% call_method character 'get_selected_exposition' 99 %}>99%</option>
            </select>
            //

            <label>PE / Turn</label>
            <input class="stats-field" onkeyup="updateCharacter()" id="pe_turn" type="number" value="{{character.pe_turn}}"/>
            //

            <label>Speed</label>
            <input class="stats-field" onkeyup="updateCharacter()" id="speed" type="number" value="{{character.speed}}"/>
        </div>
        <br>

        
        <div>
            <label>Health</label>
            <input class="big-stats-field" onkeyup="updateCharacter()" id="current_health" type="number" value="{{character.current_health}}"/>
            /
            <input class="big-stats-field" onkeyup="updateCharacter()" id="max_health" type="number" value="{{character.max_health}}"/>
        </div>
        <div>
            <label>Sanity</label>
            <input class="big-stats-field" onkeyup="updateCharacter()" id="current_sanity" type="number" value="{{character.current_sanity}}"/>
            /
            <input class="big-stats-field" onkeyup="updateCharacter()" id="max_sanity" type="number" value="{{character.max_sanity}}"/>
        </div>
        <div>
            <label>Effort</label>
            <input class="big-stats-field" onkeyup="updateCharacter()" id="current_effort" type="number" value="{{character.current_effort}}"/>
            /
            <input class="big-stats-field" onkeyup="updateCharacter()" id="max_effort" type="number" value="{{character.max_effort}}"/>
        </div>
        <br>

        
        <div>
            <b>Defense = <spam id="defense">A</spam> </b> <small> (10 + Equipment + Other) </small>
        </div>
        <div>
            <label>Equipment Defense</label>
            <input class="stats-field" onkeyup="updateCharacter()" id="equipment_defense" type="number" value="{{character.equipment_defense}}"/>
        </div>
        <div>
            <label>Other Defense</label>
            <input class="stats-field" onkeyup="updateCharacter()" id="other_defense" type="number" value="{{character.other_defense}}"/>
        </div>
        <br>


        <div>
            <label>Block</label>
            <input class="stats-field" onkeyup="updateCharacter()" id="block" type="number" value="{{character.block}}"/>
            //
            <label>Dodge</label>
            <input class="stats-field" onkeyup="updateCharacter()" id="dodge" type="number" value="{{character.dodge}}"/>
        </div>
        <br>


        <div>
            <label>Protection</label>
            <input onkeyup="updateCharacter()" id="protection" type="text" value="{{character.protection}}"/>
        </div>
        <div>
            <label>Resistance</label>
            <input onkeyup="updateCharacter()" id="resistance" type="text" value="{{character.resistance}}"/>
        </div>
        <div>
            <label>Proficiency</label>
            <input onkeyup="updateCharacter()" id="proficiency" type="text" value="{{character.proficiency}}"/>
        </div>
    </div>

    <!-- Skills -->
    <div>
        <h3>Skills</h3>

        {% for skill in skills_count %}

        <div>
            <button onclick="rollSkill('{% call_method character 'get_skill_name' skills skill %}')">O</button>
            <label style="font-size:14px">
                {% call_method character 'get_skill_formatted_name' skills skill %} 
            </label>
            <select onchange="updateCharacter()" id="{% call_method character 'get_skill_name' skills skill %}_attribute">
                <option value="0" {% call_method character 'get_selected_skill' 0 2 skills skill %} >AGI</option>
                <option value="1" {% call_method character 'get_selected_skill' 1 2 skills skill %} >INT</option>
                <option value="2" {% call_method character 'get_selected_skill' 2 2 skills skill %} >VIG</option>
                <option value="3" {% call_method character 'get_selected_skill' 3 2 skills skill %} >PRE</option>
                <option value="4" {% call_method character 'get_selected_skill' 4 2 skills skill %} >FOR</option>
            </select>
            <select onchange="updateCharacter()" id="{% call_method character 'get_skill_name' skills skill %}">
                <option value="0" {% call_method character 'get_selected_skill' 0 0 skills skill %} >0</option>
                <option value="1" {% call_method character 'get_selected_skill' 1 0 skills skill %} >5</option>
                <option value="2" {% call_method character 'get_selected_skill' 2 0 skills skill %} >10</option>
                <option value="3" {% call_method character 'get_selected_skill' 3 0 skills skill %} >15</option>
            </select>
            <input onkeyup="updateCharacter()" type="number" id="{% call_method character 'get_skill_name' skills skill %}_others" class="skill-field" type="text" value="{% call_method character 'get_skill_value' skills 1 skill %}"/>
        </div>

        {% endfor %}

    </div>

    <!-- Description -->
    <div>
        <h3>Combat / Abilities / Rituals / Inventory / Description</h3>
        <p>
            <spam>Notes</spam><br>
            <textarea id="notes" onkeyup="updateCharacter()">{{character.notes}}</textarea>
        </p>
        <p>
            <spam>Appearance</spam><br>
            <textarea id="appearance" onkeyup="updateCharacter()">{{character.appearance}}</textarea>
        </p>
        <p>
            <spam>Personality</spam><br>
            <textarea id="personality" onkeyup="updateCharacter()">{{character.personality}}</textarea>
        </p>
        <p>
            <spam>Background</spam><br>
            <textarea id="background" onkeyup="updateCharacter()">{{character.background}}</textarea>
        </p>
        <p>
            <spam>Objective</spam><br>
            <textarea id="objective" onkeyup="updateCharacter()">{{character.objective}}</textarea>
        </p>
    </div>
    <div>
        {% if campaign != None %}

        {% include "base/chat.html" %}
    
        {% endif %}
    </div>
</div>

<script>

$(document).ready(updateCharacter());

// Popup for dice rolls
function showDicePopup(text)
{
    const Toast = Swal.mixin({
        toast: true,
        position: "bottom-end",
        showConfirmButton: false,
        timer: 10000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.onmouseenter = Swal.stopTimer;
          toast.onmouseleave = Swal.resumeTimer;
        }
    });

    Toast.fire({
        text: text,
        showCloseButton: true,
    });
}

function rollAttribute(attribute)
{
    var attributeRolls = rollAttributeDice(attribute);

    var rollMsg = attribute.substring(10, 13).toUpperCase() + " [" + attributeRolls[0] + "] : " + attributeRolls;

    showDicePopup(rollMsg);
    sendMessage(1, rollMsg);
}

function rollAttributeDice(attribute)
{
    var attributeValue = document.getElementById(attribute).value;
    var rollsAmount = attributeValue != 0 ? attributeValue : 2;
    var rolls = new Array(rollsAmount);


    for (var i = 0; i < rollsAmount; i++)
        rolls[i] = Math.ceil(Math.random() * 20);
    
    rolls = rolls.sort((x, y) => { return x - y });

    if (attributeValue != 0)
        rolls = rolls.reverse();


    return rolls;
}

function rollSkill(skill)
{
    var attributes = ['attribute_agility', 'attribute_intellect', 'attribute_vigor', 'attribute_presence', 'attribute_strength'];
    var skillValues = [0, 5, 10, 15];
    

    var attribute = attributes[document.getElementById(skill + "_attribute").value];
    var skillValue = skillValues[document.getElementById(skill).value];

    var rolls = rollAttributeDice(attribute);

    var totalRoll = parseInt(rolls[0]) + skillValue;


    var rollMsg = skill[6].toUpperCase() + skill.substring(7).replace("_", ' ') + " [" + totalRoll + "] = " + rolls[0] + " + " + skillValue + " (" + rolls + ")";


    showDicePopup(rollMsg);
    sendMessage(1, rollMsg);
}

function updateCharacter() 
{
    //console.log("Updating character");
    document.getElementById('defense').innerHTML = 10 + parseInt($('#equipment_defense').val()) + parseInt($('#other_defense').val());

    $.ajax({
        type:'POST',
        url:'{% url 'update-character' character.id %}',
        data:
        {
            attribute_agility:$('#attribute_agility').val(),
            attribute_strength:$('#attribute_strength').val(),
            attribute_intellect:$('#attribute_intellect').val(),
            attribute_vigor:$('#attribute_vigor').val(),
            attribute_presence:$('#attribute_presence').val(),

            current_health:$('#current_health').val(),
            max_health:$('#max_health').val(),
            current_sanity:$('#current_sanity').val(),
            max_sanity:$('#max_sanity').val(),
            current_effort:$('#current_effort').val(),
            max_effort:$('#max_effort').val(),

            classe:$('#classe').val(),
            origin:$('#origin').val(),

            paranormal_exposition:$('#paranormal_exposition').val(),
            pe_turn:$('#pe_turn').val(),
            speed:$('#speed').val(),

            equipment_defense:$('#equipment_defense').val(),
            other_defense:$('#other_defense').val(),

            block:$('#block').val(),
            dodge:$('#dodge').val(),

            protection:$('#protection').val(),
            resistance:$('#resistance').val(),
            proficiency:$('#proficiency').val(),

            {% for skill in skills_count %} 
            
            {% call_method character 'get_skill_name' skills skill %}:$('#{% call_method character 'get_skill_name' skills skill %}').val() * 5,
            {% call_method character 'get_skill_name' skills skill %}_others:$('#{% call_method character 'get_skill_name' skills skill %}_others').val(),
            {% call_method character 'get_skill_name' skills skill %}_attribute:$('#{% call_method character 'get_skill_name' skills skill %}_attribute').val(),

            {% endfor%}

            notes:$('#notes').val(),
            appearance:$('#appearance').val(),
            personality:$('#personality').val(),
            background:$('#background').val(),
            objective:$('#objective').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(data) 
        {
            //console.log(data)
        }
    });
}

{% else %}

You dont have permission to visualize this character

{% endif %}

</script>

{% endblock content %}